@keyframes appear {
    from {height: 0}
    to {height: 100%}
  }
.backbutton {
    background: url('../../../assets/main/back.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    margin-top: 42px;
}
.verificationWrapper {
    position: relative;
}
.verification {
    font-family: Avenir;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
}

.subtextContainer {
    margin-top: 10px;
    color: #6B6C75;
    font-size: 14px;
    width: 71%;
    line-height: 25px;
}

.inputFields {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.timer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
}

.submitButton, .resentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Avenir';
    font-style: normal;
}

.code {
    color: #A7A9B7;
}
.resentText {
    color: #1D272F;
    opacity: 0.5;
}
.resentActive {
    opacity: 1;
    cursor: pointer;
}

.registrationSuccess {
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
    margin-left: -24px;
}

.showRegistrationSuccess {
    animation: appear 1.5s ease-in;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    z-index: 4;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.dialogWrapper{
    position: absolute;
    z-index: 11;
    background-color: #fff;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 459px;
    overflow: hidden;
}

.dialog {
    height: 547px;
    width: 375px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: #fff;
    border-style: none;
    padding: 0 0 3px;
    z-index: 12;
    padding-bottom: 4px;
}
