.fill{
    justify-content: center;
    background: #822DEE;
    border-radius: 30px;
    height: 56px;
    /* padding-left: 105px;
    padding-right: 105px; */
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    border:none;
   
}
.outline{
    justify-content: center;
    background:#FFFFFF;
    border-radius: 30px;
    height: 56px;
    /* padding-left: 105px;
    padding-right: 105px; */
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    border: 1px solid #822DEE;
   
}