
.layoutWrapper {
display: block;
height: 100vh;
width: 100%;
max-width: 100%;
overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 19px;
    padding: 18px 15px 0 24px;
    font-weight: 500;
}
.iconContainer {
    display: flex;
}
.containerVal{
    height: calc(100vh - 37px);
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.range{
    background: url('../../assets/main/range.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 11px;
    margin: 0 5px;
}
.battery{
    background: url('../../assets/main/battery.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 11px;
    margin: 0 5px;
}
.wifi{
    background: url('../../assets/main/wifi.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 11px;
    margin: 0 5px;
}