.detailsCard {
    border-radius: 12px;
    box-shadow: 0px 4px 80px 0px #7A7F9C26;
    padding: 12px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(107, 108, 117, 0.2);
}
.basicDetails {
    display: flex;
}

.bottomContainer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.detailsButton {
    width: 114px;
}
.profilePic {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 44px;
    height: 44px;
    border-radius: 30px;
}
.vehiclePic {
    background-size: contain;
    background-repeat: no-repeat;
    height: 38px;
}
.person1 {
    background: url('../../../assets/people/person1.svg');
}
.person2 {
    background: url('../../../assets/people/person2.svg');
}
.person3 {
    background: url('../../../assets/people/person3.svg');
}
.person4 {
    background: url('../../../assets/people/person4.svg');
}

.truck {
    background: url('../../../assets/vehicles/truck.svg');
    width: 64px;
}
.container {
    background: url('../../../assets/vehicles/container.svg');
    width: 64px;
}
.lcv {
    background: url('../../../assets/vehicles/lcv.svg');
    width: 66px;
}
.hyva {
    background: url('../../../assets/vehicles/hyva.svg');
    width: 70px;
}
.trailer {
    background: url('../../../assets/vehicles/trailer.svg');
    width: 57x;
}

.detailsContainer {
    margin-left: 14px;
}
.nameText {
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;

}
.phoneDetails {
    display: flex;
    align-items: center;
}
.phoneNumber {
    font-family: Avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 6px;
}
.phoneImg {
    background: url('../../../assets/main/phone.svg');
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
}