.inputWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 12px;
  padding: 14px;
}
.iconWrapper {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.name {
  background-image: url('../../../assets/main/user-icon.svg');
}
.number {
  background-image: url('../../../assets/main/phone.svg');
}
.password {
  background-image: url('../../../assets/main/password.svg');
}
.input {
    outline: none;
    border: none;
    width: 90%;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: #191D31;
}
.input::placeholder {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  color: #6B6C75;
}