.inputWrapper {
  display: flex;
  align-items: center;
  height: 52px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 12px;
  padding-left: 14px;
}
.rightLogoInputWrapper {
  justify-content: space-between;
}
.iconWrapper {
  width: 24px;
  height: 24px;
  min-width: 24px;
}
.leftLogo {
  margin-right: 20px;
}
.rightLogo {
  margin-right: 14px;
}
.name {
  background-image: url('../../../assets/main/user-icon.svg');
}
.number {
  background-image: url('../../../assets/main/phone.svg');
}
.password {
  background-image: url('../../../assets/main/password.svg');
}
.location {
  background-image: url('../../../assets/main/location.svg');
}
.date {
  background-image: url('../../../assets/main/calender.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.weight {
  background-image: url('../../../assets/main/weight-icon.svg');
}
.input {
  width: 100%;
    outline: none;
    border: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #191D31;
}
.input::placeholder {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  color: #6B6C75;
}
.weightUnit {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  margin-right: 13px;
}