.homepageWrapper {
    display: block;
    height: 100%;
    width: 100%;
}
.mapContainer {
    height: 35%;
    background-color: grey;
}
.homeFormContainer {
    padding: 20px 24px 0;
    height: 65%;
}
.toggleButtonWrapper {
    width: 100%;
}
.locationsInputsContainer {
    width: 100%;
    display: flex;
    margin-top: 18px;
}
.iconsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    position: relative;
}
.pickUpIcon {
    width: 24px;
    height: 24px;
    background-image: url('../../../assets/main/dot-and-circle.svg');
}
.locationPinIcon {
    width: 24px;
    height: 24px;
    background-image: url('../../../assets/main/location-pin.svg');
}
.dotted-line {
position: absolute;
height: 30px;
width: 0px;
border-right: 1px dotted #A7A9B7;
border-left: 1px dotted #A7A9B7;
left: 10px;
top: 47px;
}
.locationInputsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 100%;
}
.locationInputWrapper {
    height: 52px;
}
.iconContainerVal{
    height: 54px;
    width: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.timeWaiting {
    height: 52px;
    width: 100%;
    border: 1px solid #F3F3F3;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timeSelector {
    display: flex;
}
.clockGray {
    background: url('../../../assets/main/clockGray.svg');
    height: 24px;
    width: 24px;
    margin-right: 12px;
}
.sandClockGray {
    background: url('../../../assets/main/sandClockGray.svg');
    height: 24px;
    width: 24px;
    margin-right: 12px;
    margin-left: 40px;
}
.clockTime {
    font-family: Avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #191D31;
    margin-right: 32px;
    min-width: 63px;
}
.dividerLine {
    border: 1px solid #A7A9B759;
    height: 36px;
}
.Calendar__day.-selected, .Calendar__day.-selectedStart, .Calendar__day.-selectedEnd {
    background: rgba(19, 59, 183, 0.15) !important;
    color: black;
}
.otherInputs {
    margin-top: 15px;
}